@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #1B411F;
  font-family: 'Open sans', sans-serif;
}

h1 {
  color: white;
}

.game {
  min-width: 600px;
  width: 50%;
  margin: 0 auto;
}

/**
 * ======================================
 * DEALER CARDS
 * ======================================
 */
.dealer-cards {
  float: left;
}

/**
 * ======================================
 * PLAYER CARDS
 * ======================================
 */
.player-cards {
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -115px;
}

.player-cards img:hover {
  margin-left: -2px;
  width: 102px;
  cursor: pointer;
}

/**
 * ======================================
 * DEALED CARDS
 * ======================================
 */
.card {
  border: 1px dashed #241F20;
  width: 100px;
  height: 145px;
  float: left;
  padding: 5px;
  margin-left: 20px;
  position: relative;
  background: url('./img/card-slot-bg.png') center center no-repeat;
  background-size: contain;
}

.card:first-child {
  margin-left: 0;
}

.card img {
  position: absolute;
  width: 100px;
  transition: left 1s, top 1s, width 100ms;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.card img.in-placeholder-position {
  top: 5px !important;
  left: 5px !important;
}

/* cards removing animation */
.card.remove-add {
}

.card.remove-add img {
  -webkit-transition: all 5s;
  transition: all 2s;
  position: absolute;
  top: 100px !important;
  left: 0;
}

.card.remove-add-active img {
  top: -1999px !important;
  left: 0px !important;
}

/**
 * ======================================
 * DECK
 * ======================================
 */
.deck {
  position: relative;
  float: right;
  width: 120px;
  height: 170px;
  margin: 20px;
  z-index: 1;
}

.deck .card-back {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  position: absolute;
  background: url('img/card_back.png') top left no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}


.hit-button {
  position: absolute;
  bottom: 10%;
  right: -120px;

  width: 100px;
  line-height: 50px;
  font-size: 30px;

  border: 0;
  background: #A30614;
  color: white;

  cursor: pointer;
}

.hit-button:hover {
  transition: background 100ms;
  background: #900E0E;
}