body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #1B411F;
}

.game {
  min-width: 600px;
  width: 50%;
  margin: 0 auto;
}

/**
 * ======================================
 * DEALER CARDS
 * ======================================
 */
.dealer-cards {
  float: left;
}

/**
 * ======================================
 * PLAYER CARDS
 * ======================================
 */
.player-cards {
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -115px;
}

/**
 * ======================================
 * DEALED CARD
 * ======================================
 */
.card {
  border: 1px dashed #aaa;
  width: 100px;
  height: 150px;
  float: left;
  padding: 5px;
  margin-left: 20px;
  position: relative;
}

.card:first-child {
  margin-left: 0;
}

.card img {
  position: absolute;
  width: 100px;
  transition: all 1s;
  top: 0;
  left: 0;
  z-index: 2;
}

.card img.in-placeholder-position {
  top: 0 !important;
  left: 0 !important;
}

/* cards removing animation */
.card.remove-add {
  position: relative;
}

.card.remove-add img {
  -webkit-transition: all 5s;
  transition: all 5s;
  position: absolute;
  top: 0;
  left: 0;
}

.card.remove-add-active img {
  top: -500px;
  left: -4999px;
  width: 500px;
}

/**
 * ======================================
 * DECK
 * ======================================
 */
.deck {
  position: relative;
  float: right;
  width: 120px;
  height: 170px;
  margin: 20px;
  z-index: 1;
}

.deck .card-back {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  position: absolute;
  background: url('img/card_back.png') top left no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}